%nav.nav-wrapper
  .container
    %a.button-collapse{"data-activates" => "slide-out", :href => "#"}
      %i.mdi-navigation-menu        
    = link_to('電子研究所 -- 管理員', teachers_path, :method => :get, :class => "brand-logo", :onmouseover => "this.style.textDecoration = 'none';")