%h2.caption #{@year} - 新增學生
.divider

.header_information
  %li 依入學組別分類，綠色燈代表尚未有指導教授，請點選左側的學生，查看新增學生的資訊
  %li 如需要更換指導教授請連絡系辦處理
.header_button
  = link_to(user_year_path(@year), :class => 'pad-left-12') do
    %button 上一頁

.row
  .col.s3
    %ul.collapsible{"data-collapsible" => "accordion"}
      %li.collapsible-header 學生 - 入學組別
      = render :partial => 'student_left_bar', :collection => @groups, :as => :params_group, locals: {params_students: @students}

  .col.s9
    #show_area
      .card-panel
        %h4 ヽ(✿ﾟ▽ﾟ)ノ 快選我
